<ion-header>

  <ion-navbar color="dark">
    <ion-title>NOTIFICACIONES MARCAS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="acordion">
    <ion-list-header *ngFor="let mar of marcas; let i = index;" no-lines no-padding>
      <button ion-item detail-none block (click)="seleccionarMarca(i,mar.idMarca)"
        [ngClass]="{'padre-activo': mar.open, 'seccion': !mar.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!mar.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="mar.open"></ion-icon>
        {{ mar.Marca }}
      </button>

      <ion-list *ngIf="mar.open" no-line class="acordion">
        <ion-list *ngFor="let mod of modelos; let x = index; " no-lines no-padding>
          <button ion-item (click)="seleccionarModelo(x)" detail-none
            [ngClass]="{'hijo-activo': mod.open, 'hijo': !mod.open}">
            <ion-icon item-left name="add" *ngIf="!mod.open"></ion-icon>
            <ion-icon item-left name="close" *ngIf="mod.open"></ion-icon>
            {{ mod.Marca }}
          </button>

          <ion-list *ngIf="mod.open" no-line class="notificaciones">
            <ion-item>
              <ion-label>Mecánica</ion-label>
              <ion-toggle [(ngModel)]="mod.idMarca[i]" (ionChange)="guardarNotificaciones()"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Ofertas en Mecánica</ion-label>
              <ion-toggle [(ngModel)]="mod.idMarca[i]" (ionChange)="guardarNotificaciones()"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Electronica</ion-label>
              <ion-toggle [(ngModel)]="mod.idMarca[i]" (ionChange)="guardarNotificaciones()"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Ofertas en Electronica</ion-label>
              <ion-toggle [(ngModel)]="mod.idMarca[i]" (ionChange)="guardarNotificaciones()"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Suspensión</ion-label>
              <ion-toggle [(ngModel)]="mod.idMarca[i]" (ionChange)="guardarNotificaciones()"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-item>
                <ion-label>Ofertas en Suspensión</ion-label>
                <ion-toggle [(ngModel)]="mod.idMarca[i]" (ionChange)="guardarNotificaciones()"></ion-toggle>
              </ion-item>
              <ion-label>Interiores</ion-label>
              <ion-toggle [(ngModel)]="mod.idMarca[i]" (ionChange)="guardarNotificaciones()"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Ofertas en Interiores</ion-label>
              <ion-toggle [(ngModel)]="mod.idMarca[i]" (ionChange)="guardarNotificaciones()"></ion-toggle>
            </ion-item>
          </ion-list>

        </ion-list>
      </ion-list>
    </ion-list-header>
  </ion-list>

  <!-- <ion-list>
    <p>
      Marca las marcas de las que deseas que llegen notificaciones.
    </p>
    <ion-item *ngFor="let mar of marcas" (click)="seleccionarMarca(mar.idMarca)">
      <ion-label> {{ mar.Marca }}</ion-label>
      <ion-toggle [(ngModel)]="mar.Checked" (ionChange)="guardarNotificaciones(mar.Checked,mar)">
      </ion-toggle>
    </ion-item>
  </ion-list> -->
</ion-content>
