page-ajustes-notificaciones {
    
    .acordion {
        height: 100%;
        background: #fff;
    }
    
    .seccion {
      height: 100%;
      background: #e8e7e6;
      color: #000;
    }

    .padre-activo {
        background: color($colors, cavaliers-secondary);
        color: #fff;
    }

    .hijo-activo {
        height: 100%;
        margin-left: 25px;
        margin-top: 1px;
        background: color($colors, cavaliers-tertiary);
        color: #fff;
    }

    .hijo{
        height: 100%;
        background: #e8e7e6;
        margin-left: 25px;
        color: #000;
        margin-top: 1px;
    }

    .notificaciones {
        height: 100%;
        background: #e8e7e6;
        margin-left: 50 px;
        color: #000;
        margin-top: 1px;
    }

    .ofertas {
        margin-left: 25px;
    }

    .label{
        margin: 0px;
        padding: 0%;
    }

    .list{
        margin-bottom: 0px;
        padding: 0%;
    }


}
