<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MI VENTA</ion-title>
    <ion-buttons end *ngFor="let artId of articuloId">
      <button ion-button icon-only (click)="editArt(artId);">
        <!--button ion-button icon-only (click)="openModal()"></button-->
        <ion-icon name="build"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>




<ion-content>
  <div>
    <ion-slides pager style="background-color: whitesmoke">
      <ion-slide *ngFor="let f of fotosArt">
        <img src="{{f.Foto}}" imageViewer height="200px"/>
      </ion-slide>
    </ion-slides>
    <div *ngFor="let artId of articuloId" padding>
      <h1>{{ artId.Titulo }}</h1>
      <h3>$ {{ artId.Precio }}</h3>


      <h5>DESCRIPCION</h5>
      <p>{{ artId.Descripcion }}</p>
     
      <h4>Características</h4><br>
     <ion-grid>
       <ion-row>
         <ion-col style="font-size: 18px;">
           Marca:
         </ion-col>
         <ion-col style="font-size: 18px;">
           Modelo:
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col style="font-size: 18px;">
           {{artId.Marca}}
         </ion-col>
         <ion-col style="font-size: 18px;">
           {{artId.Modelo}}
         </ion-col>
       </ion-row>
     </ion-grid>
     <hr>

        <button ion-button round color="dark" (click)="hacerPregunta(articuloId)">Preguntas</button>

    </div>
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-item (click)="hacerPregunta()">
      <ion-input type="text" placeholder="Escribe una pregunta"></ion-input>
      <button ion-button clear icon-only item-right>
        <ion-icon name="send"> </ion-icon>
      </button>
    </ion-item>

  </ion-toolbar>
</ion-footer> -->
