<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ARTICULO</ion-title>
  </ion-navbar>
</ion-header>




<ion-content>
  <ion-slides pager style="background-color: whitesmoke">
    <ion-slide *ngFor="let f of fotosArt">
      <img src="{{f.Foto}}" imageViewer height="20px" />
    </ion-slide>
  </ion-slides>
  <div>
    <div *ngFor="let artId of articuloId" padding>
      <h1>{{ artId.Titulo }}</h1>
      <h3>$ {{ artId.Precio }}</h3>


<!-- 
      <button ion-button (click)="ComprarPayPal(artId)" block>Comprar</button> -->

  <h4>CARACTERISTICAS</h4><br>
  <ion-grid>
    <ion-row>
      <ion-col style="font-size: 18px;">
        MARCA:
      </ion-col>
      <ion-col style="font-size: 18px;">
        MODELO:
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-size: 18px;">
        {{artId.Marca}}
      </ion-col>
      <ion-col style="font-size: 18px;">
        {{artId.Modelo}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <h4>DESCRIPCION</h4>
      <p>{{ artId.Descripcion }}</p>
 

      <!-- <button ion-button (click)="hacerPregunta()">Preguntas</button> -->

      <!-- <h5>Comentarios</h5>
      <ion-list> 
        <ion-item *ngFor="let coment of comentarios">
          <h2>{{coment.Titulo}}</h2>
          <p>{{coment.Comentario}}</p>
        </ion-item>
      </ion-list> -->

      <!-- <h5>Comentarios</h5>
      <ion-list no-lines [virtualScroll]="comentarios" approxItemHeight="40px">
        <ion-item *virtualItem="let coment">
          <h2>{{coment.Titulo}}</h2>
          <p>{{coment.Comentario}}</p>
        </ion-item>
      </ion-list> -->
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input [(ngModel)]="Escrito" type="text" placeholder="Escribe tu Pregunta..."></ion-input>
      <button ion-button clear icon-only item-right (click)="hacerPregunta()">
        <ion-icon name="send"> </ion-icon>
      </button>
    </ion-item>

  </ion-toolbar>
</ion-footer>
