<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-item color="primary" no-lines detail-none block menuClose *ngFor="let u of usuario"
        (click)="usuarioNombre(u)" style="padding: 0px">
        <ion-avatar item-start>
          <img [src]="u.img" style="height: 65px; width: 65px;">
        </ion-avatar>
        <h2>{{u.usuario}}</h2>
        <h3>{{u.correo}}</h3>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button no-lines ion-item detail-none block menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-start [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

  <ion-footer *ngFor="let s of salir">
    <ion-toolbar [color]="s.color">
      <button [color]="s.color" text-center no-lines ion-item detail-none block menuClose (click)="close(s)">
         <ion-icon icon-start [name]="s.icon"></ion-icon>
        {{s.titulo}}
      </button>
    </ion-toolbar>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
