<!--
  Generated template for the ChatPreguntaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

  MENSAJE PARA EL QUE RESPONDE AL PEDIDO

-->
<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>MENSAJES</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let conver of conversacion">
    <div *ngIf="conver.QuienResponde==conver.idUsuario" class="container">
      <img src="../../assets/imgs/llanta1.png" class="right">
      <p>{{conver.Chat}}</p>
      <span class="time-left">{{conver.Fecha}}</span>
    </div>
    <div *ngIf="conver.QuienPregunta == conver.idUsuario" class="container darker">
      <img src="../../assets/imgs/llanta2.png">
      <p>{{conver.Chat}}</p>
      <span class="time-right">{{conver.Fecha}}</span>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input [(ngModel)]="Escrito" type="text" placeholder="Escribir..."></ion-input>
      <button ion-button clear icon-only item-right (click)="mensaje()">
        <ion-icon name="send"> </ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
