<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HACER VENTA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" autocomplete="on" autocorrect="on" stacked>Titulo</ion-label>
      <ion-input [(ngModel)]="Titulo" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" autocomplete="on" autocorrect="on" stacked>Descripcion</ion-label>
      <ion-textarea [(ngModel)]="Descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Precio</ion-label>
      <ion-input type="number" [(ngModel)]="Precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" autocomplete="on" autocorrect="on" stacked>Marca del Auto</ion-label>
      <ion-select ngModel="marcas" interface="alert" cancelText="CANCELAR">
        <ion-option *ngFor="let mar of marcas" (ionSelect)="marcaSeleccionada(mar.idMarca,mar.Marca);" [value]="mar.idMarca">{{
          mar.Marca }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" autocomplete="on" autocorrect="on" stacked>Modelo del Auto</ion-label>
      <ion-select ngModel="modelos" interface="alert" cancelText="CANCELAR">
        <ion-option *ngFor="let mod of modelos" (ionSelect)="modeloSelccionado(mod.Marca);" [value]="mod.idModelo">
          {{mod.Marca }}
        </ion-option>
      </ion-select>
    </ion-item>
      <ion-item>
        <ion-label>Convertir en Oferta?</ion-label>
        <ion-checkbox color="dark" checked="false" [(ngModel)]="Oferta"></ion-checkbox>
      </ion-item><br>
    <ion-item-divider color="primary">
      Adjuntar Foto
    </ion-item-divider>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button block round color="dark" (click)="abrirGaleria()">Subir Foto</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block round color="dark" (click)="tomarFoto()">Tomar Foto</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let img of arrayImagenes">
      <img [(ngModel)]="Foto_Principal" [src]="img" width="150" height="300" />
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let photo of arrayFotos" col-6 no-padding>
            <ion-card>
              <img [src]="photo" (click)="eliminarFoto(photo)" />
              <!-- {{photo}} imageViewer -->
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <button ion-button block round color="dark" (click)="addArticle()">Agregar Articulo</button>
  </ion-list>
</ion-content>
